<nav class="u-full-width">
    <a [routerLink]=" ['/'] " class="button button-primary">
         Home
       </a>
    <a [routerLink]=" ['./login'] " class="button button-primary">
         Login
       </a>
    <a [routerLink]=" ['./list'] " class="button button-primary">
         Video List
       </a>

    <div class="twelve columns header-bar">
      <div class="three columns">
          <h1 u-full-width>Javascript Player</h1>
      </div>
    </div>
  <div class="spacer">
  </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<!--<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>-->

<footer>
    <!--<span>WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
    <div>
        <a [href]="url">
            <img [src]="angularclassLogo" width="25%">
        </a>
    </div>-->
</footer>
